.cabecera{
    background-color: rgb(202, 202, 202);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-decoration: none;
    color: #232c3d;
    margin-bottom: 5em;
    gap: 10px;
    img{
        width: 50px;
    }
}